.subTitle{
    color: #333;
    font-family: Inter;
    font-size: 12.2px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 180.328% */
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}